<!--Footer section-->
<div class="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-align-center">
          <div class="col-md-12 text">
            <img src="/Assets/images/portfolio-website-logo (1).png" width="75" height="75" class="logo">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="col-md-6 text-align-center">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h2>Webmail</h2>
              <ul>
                <li><a href="#">Reedem code</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Email Templates</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h2>Tech</h2>
              <ul>
                <li><a href="#">Software Design</a></li>
                <li><a href="#">Hardware Design</a></li>
                <li><a href="#">Digital Signage</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h2>Careers</h2>
              <ul>
                <li><a href="#">Job Openings</a></li>
                <li><a href="#">Employee Success</a></li>
                <li><a href="#">Benefits</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h2>Others</h2>
              <ul>
                <li><a href="#">Sponser Us!</a></li>
                <li><a href="#">Ope startup</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="col item social">
              <a href="#"><i class="icon fa-brands fa-facebook"></i></a>
              <a href="#"><i class="icon fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-snapchat"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h5 class="copyright">Copyright © 2023 - All rights reserved || Designed By: Isha Kothadia</h5>
    </div>
  </footer>
</div>