<!--Scripts section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
<script src="https://cdn.usebootstrap.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.usebootstrap.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>