<!-- main-nav.ejs Isha Kothadia 301298827 08/02/2023 -->

<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-color">
  <div class="container-fluid">
    <a href="/"><img src="/Assets/images/portfolio-website-logo (1).png" width="65" height="65" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if(title=="Home" ){ %>
          <li class="nav-item active-tab">
            <%} else { %>
          <li class="nav-item">
            <% } %>
              <a class="nav-link" href="/home">
                <p class="text-nav">Home</p>
              </a>
          </li>

          <% if (isAuthenticated){ %>
            <% if(title=="About" ){ %>
              <li class="nav-item active-tab">
                <%} else { %>
              <li class="nav-item">
                <% } %>
                  <a class="nav-link" href="/about">
                    <p class="text-nav">About</p>
                  </a>
              </li>
              <%}%>

                <% if (isAuthenticated){ %>
                  <% if(title=="Portfolio" ){ %>
                    <li class="nav-item active-tab">
                      <%} else { %>
                    <li class="nav-item">
                      <% } %>
                        <a class="nav-link" href="/products">
                          <p class="text-nav">Portfolio
                          </p>
                        </a>
                    </li>
                    <%}%>

                      <% if(title=="Services" ){ %>
                        <li class="nav-item active-tab">
                          <%} else { %>
                        <li class="nav-item">
                          <% } %>
                            <a class="nav-link" href="/services">
                              <p class="text-nav">Services</p>
                            </a>
                        </li>

                        <% if(title=="Contact" ){ %>
                          <li class="nav-item active-tab">
                            <%} else { %>
                          <li class="nav-item">
                            <% } %>
                              <a class="nav-link" href="/contact">
                                <p class="text-nav">
                                  Contact</p>
                              </a>
                          </li>

                          <% if (isAuthenticated){ %>
                            <% if(title=="Business Contact List" ){ %>
                              <li class="nav-item active-tab">
                                <%} else { %>
                              <li class="nav-item">
                                <% } %>
                                  <a class="nav-link" href="/business-contact-list">
                                    <p class="text-nav">Contacts List</p>
                                  </a>
                              </li>
                              <%}%>

                                <% if (isAuthenticated){ %>
                                  <li class="nav-item active-tab">
                                    <a class="nav-link" href="/logout">
                                      <p class="text-nav">Logout</p>
                                    </a>
                                  </li>
                                  <% } else { %>
                                    <% if(title=="Login" ){ %>
                                      <li class="nav-item active-tab">
                                        <%} else { %>
                                      <li class="nav-item">
                                        <% } %>
                                          <a class="nav-link" href="/login">
                                            <p class="text-nav">Login</p>
                                          </a>
                                      </li>
                                      <% } %>
      </ul>
    </div>
  </div>
</nav>