<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>
        <!-- about section-->
        <section id="about">
            <div class="container mt-4 pt-4">
                <h1 class="text-center">About Me</h1>
                <hr class="hr">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <img src="Assets/images/IMG_8250.jpeg" class="imageAboutPage" alt="">
                    </div>

                    <div class="col-lg-8">
                        <p> I have been working in the corporate culture since my graduation, and ready to accept the
                            challenges, utilizing my technical skills, would like to work with a highly esteemed company
                            which gives me a platform to use my expertise and skills for mutual growth and
                            benefit of company and myself. Want to work on real life organizational environment to
                            improve on my technical, business
                            development and software development skills.
                        </p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <ul class="bullets">
                                    <li><b>Name:</b> Isha Kothadia</li>
                                    <li><b>Age:</b> 23</li>
                                    <li><b>Occupation:</b> Web Developer</li>

                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="bullets">
                                    <li><b>Country:</b> India</li>
                                    <li><b>Religion: </b> Hindu</li>
                                    <li><b>Experience:</b> 2 Years</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <p>Currently I have an experience of almost 2 years as a Web Developer. During my duty I
                                assisted the development manager with all aspects of coding and software design. I have
                                attended and contributed to the company meetings. I have writed and maintained the code.
                                Worked on minor bugs. Monitores the technical performance of the internal systems.
                                Co-ordinated with team and worked with team work. Apart from this, I have also attended
                                the Web designing and Animation workshops. I was also winner of Folk Dance at Youth
                                festival held by our organisation.
                            </p>
                        </div>
                        <a class="btn btn-resume" target="_blank" href="Assets/pdfs/Isha Kothadia Resume.pdf"
                            style="margin-top: 20px;">Resume</a>

                    </div>
                </div>
        </section>
        <%- include('partials/bottom-nav.ejs') %>
            <%- include('partials/footer.ejs') %>