<!-- contact-us.ejs Isha Kothadia 301298827 08/02/2023 -->

<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>
        <!-- contact section-->
        <section id="contact">
            <div class="container mt-3 contactContent">
                <h1 class="text-center">Contact Me</h1>
                <hr class="hr">
                <div class="row mt-5 mb-5">
                    <div class="col-lg-6">
                        <!-- to edit google map goto https://www.embed-map.com type your location, generate html code and copy the html  -->
                        <div style="overflow:hidden;resize:none;max-width:100%;width:500px;height:500px;">
                            <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe
                                    style="height:100%;width:100%;border:0;" frameborder="0"
                                    src="https://www.google.com/maps/embed/v1/place?q=Scarborough,+Toronto,+ON,+Canada&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                            </div><a class="my-codefor-googlemap" rel="nofollow" href="https://kbj9qpmy.com/bp"
                                id="get-data-for-map">Broadband Providers</a>
                            <style>
                                #my-map-canvas img {
                                    max-width: none !important;
                                    background: none !important;
                                    font-size: inherit;
                                    font-weight: inherit;
                                }
                            </style>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- form fields -->
                        <form>
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="email" class="form-control mt-3" placeholder="Email">
                            <input type="text" class="form-control mt-3" placeholder="Subject">
                            <div class="mb-3 mt-3">
                                <textarea class="form-control" rows="5" id="comment" name="text"
                                    placeholder="Project Details"></textarea>
                            </div>
                        </form>
                        <a class="btn btn-resume mt-3" href="/home">Contact Me</a>
                        <div class="col-md-12 d-flex mt-3">
                            <div class="col-md-4 text-center">
                                <p><i class="fas fa-map-marker-alt fa-2x mt-4"
                                        style="color: #B5856F; margin-bottom: 0rem !important;"></i>
                                <p>Toronto, Ontario</p>
                                </p>

                            </div>
                            <div class="col-md-4 text-center">
                                <p><i class="fas fa-phone mt-4 fa-2x" style="color: #B5856F;"></i>
                                <p>+1 (365) 883-1269
                                </p>
                            </div>

                            <div class="col-md-4 text-center">
                                <p><i class="fas fa-envelope mt-4 fa-2x" style="color: #B5856F;"></i>
                                <p><a href="#" style="color: black;">ikothadi@my.centennialcollege.ca</a></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/bottom-nav.ejs') %>
            <%- include('partials/footer.ejs') %>