<!-- home.ejs Isha Kothadia 301298827 08/02/2023 -->

<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>

        <!-- main banner -->
        <section class="bgimage" id="home">
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4 welcome">Welcome to the Portfolio Site</h1>
                    <p class="lead">I'm Isha Kothadia. I am a Software developer and having 2 years of experience as a
                        Web developer. I also have knowledge of Angular, Web Designing, Nodejs, Expressjs and MongoDB.
                    </p>
                    <p class="lead">
                        <a class="btn btn-about" href="/about" role="button" target="_blank"
                            style="font-weight: 700;">About Me</a>
                    </p>
                </div>
            </div>
        </section>
        <!--  -->
        <%- include('partials/footer.ejs') %>