<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>
        <div class="container">
            <div class="jumbotron mt-5 jumbotron-form mb-5">
                <div class="col-md-8 m-auto">
                    <form action="/login" method="POST">
                        <div class="text-center">
                            <h3 class="mb-4">Login</h3>
                        </div>
                        <div class="mb-3">
                            <label for="login-email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="username" placeholder="Enter email"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="login-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-save" style="font-weight:bolder">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include('partials/bottom-nav.ejs') %>
            <%- include('partials/footer.ejs') %>