<!-- products.ejs Isha Kothadia 301298827 08/02/2023 -->

<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>

        <!-- portfolio section-->
        <section id="portfolio">
            <div class="container mt-3">
                <h1 class="text-center">Portfolio</h1>
                <hr class="hr">
                <div class="row mt-5">
                    <div class="col-lg-4 mt-4">
                        <div class="card">
                            <img class="card-img-top" src="Assets/images/Massage Service.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Massaging Service</h4>
                                <p class="card-text">This project helps the users to book their massage services online.
                                    Users can book an appointment for visiting the store or can also book home service.
                                    I was working in a group to design this website.
                                </p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-resume">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="Assets/images/OneSchool.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">OneSchool Global</h4>
                                <p class="card-text">OneSchool is a school management system. Admin, Teachers and
                                    Students are the dedicated users. All school related activites can be perfomed here.
                                    Here I have worked in both front-end and back-end.
                                </p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-resume">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="Assets/images/Health Wallet.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Health Wallet</h4>
                                <p class="card-text">Health Wallet is a web appliation where users can store their
                                    medical details/Records/Prescriptions online and can access easily. It was in
                                    Angular and I was responsible for front-end.</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-resume">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="Assets/images/URL Shortner.jpg" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">URL Shortner</h4>
                                <p class="card-text">This URL shortner, as the name suggestes helps to make the long URL
                                    short. This project is on MEAN stack technology. It was developed by me and one of
                                    my friend and we both participated equally.</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-resume">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="Assets/images/chatbox.jpg" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">ChatBox</h4>
                                <p class="card-text">Chat Box is basically a chat organisation where group of people can
                                    communicate with each other via messages. We had not made it live but many of our
                                    friends are using this.</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-resume">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="Assets/images/todo.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Todo</h4>
                                <p class="card-text">This helps to manage your daily todo. It helps to get reminder
                                    about important updates. We were worked in group of 3 and currently it is for
                                    the use of our friends and family members.</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-resume">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <%- include('partials/bottom-nav.ejs') %>
            <%- include('partials/footer.ejs') %>