<!-- services.ejs Isha Kothadia 301298827 08/02/2023 -->

<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>

        <!-- services section-->
        <section id="services">
            <div class="container">
                <h1 class="text-center">Services</h1>
                <hr class="hr">
                <div class="row mt-5">
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <i class="fas servicesIcon fa-clock"></i>
                                <h4 class="card-title mt-3">Website Development</h4>
                                <p class="card-text mt-3">Web development is the work involved in developing a website
                                    for the Internet (World Wide Web) or an intranet (a private network).Web
                                    development can range from developing a simple single static page of plain text to
                                    complex web applications.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <i class='fas servicesIcon fa-layer-group'></i>
                                <h4 class="card-title mt-3">Website Design</h4>
                                <p class="card-text mt-3">Web design refers to the design of websites that are displayed
                                    on the internet. It usually refers to the user experience aspects of website
                                    development rather than software development.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <i class='far servicesIcon fa-check-circle'></i>
                                <h4 class="card-title mt-3">Website Deployment</h4>
                                <p class="card-text mt-3">Deploying a website means that you are deploying changes you
                                    have made to your website, typically code, from source control to an environment
                                    (typically development, staging, or live).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <i class='fas servicesIcon fa-search'></i>
                                <h4 class="card-title mt-3">SEO</h4>
                                <p class="card-text mt-3">Search engine optimization (SEO) is the process of improving
                                    the quality and quantity of website traffic to a website or a web page from search
                                    engines. SEO targets unpaid traffic
                                    rather than direct traffic or paid traffic.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <i class='fas servicesIcon fa-shield-alt'></i>
                                <h4 class="card-title mt-3">DevOps</h4>
                                <p class="card-text mt-3">DevOps is used as a set of practices and tools, DevOps
                                    integrates and automates the
                                    work of software development and IT operations as a means for improving
                                    and shortening the systems development life cycle.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <i class='fas servicesIcon fa-wrench'></i>
                                <h4 class="card-title mt-3">QA</h4>
                                <p class="card-text mt-3">Quality assurance is the term used in both manufacturing
                                    and service industries to describe the systematic efforts taken to ensure that the
                                    product delivered to customer meet with the contractual expectations of that customer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/bottom-nav.ejs') %>
            <%- include('partials/footer.ejs') %>