/* navbar section */
.ml-auto {
    margin-left: auto;
}

.active-tab {
    font-weight: 600;
    /* background-color: #E45FA4; */
    background-color: #955030;
}

.logo {
    border-radius: 50%;
}

.navbar-color {
    /* background-color: #e79fc4; */
    background-color: #AC785F;
    opacity: 0.7;
}

.text-nav {
    color: aliceblue;
    margin-bottom: 3px;
}

.nav-link:hover {
    color: aliceblue;
    font-weight: 600;
}

.navbar-nav {
    font-size: 20px;
}

.text-align-center {
    text-align: center;
}

.navbar-nav p {
    font-size: 22px;
}

/* home section */
.welcome {
    color: white;
    font-weight: 500 !important;
}

.lead {
    color: white;
    font-size: 1.15rem !important;
}

.display-4 {
    font-size: 2.3rem !important;
}

/* main section */
/* background image */
.bgimage {
    height: 100vh;
    background: url('/Assets/images/IMG_8250.jpeg');
    opacity: 0.7;
    background-size: cover;
    position: relative;
    background-color: #EEBCD6;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.bgimage .jumbotron {
    background-color: #AC785F !important;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-about {
    background-color: aliceblue !important;
    color: #AC785F !important;
}

/* About section */
#about {
    /* background-color:#EC8FBF ;
    opacity: 0.7; */
    margin-bottom: 25px;
}

.imageAboutPage {
    width: 100%;
    height: 100%;
}

.bullets {
    list-style: none;
}

.btn-resume {
    background-color: #955030 !important;
    opacity: 0.7;
    color: white !important;
}

.btn-resume:hover {
    color: #955030;
}

.hr {
    color: #955030;
    height: 4px;
    width: 290px;
    background-color: #955030;
    margin-left: 411px;
    border-radius: 20px;
}

/* Service Section */
#services {
    margin-top: 10px;
    margin-bottom: 20px;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #955030;
}

.servicesText:hover {
    border: 1px solid #955030;
}

/* Products Section */
#portfolio {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Footer section */
.footer {
    padding-top: 10px;
    color: aliceblue;
    /* background-color: #e79fc4; */
    background-color: #AC785F;
    opacity: 0.7;
}

.footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer ul {
    padding: 0;
    list-style: none;
    font-size: 14px;
    margin-bottom: 0;
}

.footer ul li {
    color: aliceblue;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
}

.footer ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer .item:not(.social) {
        text-align: center;
        padding-bottom: 10px;
    }
}

.footer .item.text {
    margin-bottom: 26px;
}

@media (max-width:767px) {
    .footer .item.text {
        margin-bottom: 0;
    }
}

.footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer .item.social {
    text-align: center;
    margin-top: 10px;
}

@media (max-width:991px) {
    .footer .item.social {
        text-align: center;
        margin-top: 10px;
    }
}

.footer .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: aliceblue;
    opacity: 0.75;
}

.footer .item.social>a:hover {
    opacity: 0.9;
}

.footer .copyright {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    color: aliceblue;
    background-color: #955030;
    padding: 8px 0px;
}